* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} *::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-width: 80vw;
    min-height: auto;

    background-color: #d4d8f0;
}

/* Dialog */
dialog {
    top: 50%;
    left: 50%;
    background-color: #232946;
    box-shadow: -8px 8px #fffffe;
}

.dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#close-info {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 44px;
    min-height: 44px;
    box-sizing: border-box;
    font-size: 20px;
    background-color: #b8c1ec00;
    color: #fffffe;
}
