* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} *::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-width: 80vw;
    min-height: 100vh;

    background-color: #232946;
}
