/*
Template

- Cursor
- Display
- Position
- Top, Left, Bottom, & Right
- Translate
- Width & Height
- Margin & Padding
- Border, Box Shadow & Box Sizing
- Font, Text & Letter
- Background & Color
- Transition & Z-Index
- Transform
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} *::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: absolute;

    min-width: 80vw;
    min-height: auto;

    background-color: #d4d8f0;
}